On Windows DeepSpeed requirement couldn't be installed by requirements.txt, it needs to be compiled.

As referenced in https://github.com/deepspeedai/DeepSpeed/issues/4729#issue-2010860892:

1) Download the latest release of DeepSpeed (compatible with Python 3.9 & CUDA 12.1. For Windows, the recommended version is 0.13.5.), extract it to a folder.
2) Navigate to your deepspeed folder in the Command Prompt: $ cd c:\deepspeed (wherever you extracted it to)
3) One at a time, execute following commands:
	$ set DS_BUILD_AIO=0 
	$ set DS_BUILD_SPARSE_ATTN=0
	$ set DS_BUILD_EVOFORMER_ATTN=0
	$ set DS_BUILD_OPS=0
4) Execute with admin privileges: 	
	$ build_win.bat
5) Now cd dist to go into your dist folder and you can now pip install deepspeed-YOURFILENAME.whl (or whatever your WHL file is called).

In the reported issues there are other command for installing necessary VS2022, CUDA Toolkit, etc.